                    <div class="page-title">
                        <h3>Change Password</h3>
                        <div class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li><a href="index.html">Dashboard</a></li>
                                <li><a href="#">My Profile</a></li>
                                <li class="active">Change Password</li>
                            </ol>
                        </div>
                    </div>
                    <div id="main-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-white">
                                    <div class="panel-heading clearfix">
                                        <h4 class="panel-title">Change My Password</h4>
                                    </div>
                                    <div class="panel-body">
                                        <form id="form-update-password" name="form-update-password">
                                            <input type="hidden" ng-init="password.user_id = user.user_id" ng-model="password.user_id">
                                            <div class="form-group">
                                                <label for="current-password">Current Password</label>
                                                <input type="password" ng-model="password.current_password" class="form-control" id="current-password" placeholder="Current Password" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="new-password">New Password</label>
                                                <input type="password" ng-model="password.new_password" minlength="6" maxlength="30" class="form-control" id="new-password" placeholder="New Password" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="retype-password">Retype Password</label>
                                                <input type="password" ng-model="password.retype_password" class="form-control" id="retype-password" placeholder="Retype Password" required>
                                            </div>
                                            <button type="submit" class="btn btn-success" ng-click="updatePassword()">Save</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- Main Wrapper -->